<ion-view view-title="Categorias">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="categorie in categories" href="#/app/categories/{{categorie.idcategories}}">
                <a class="item item-avatar" href="#/app/categories/{{categorie.idcategories}}">
                    <img src=" {{categorie.categorieimg}}">
                    <h2>{{categorie.catenom}} | {{categorie.total}} photos</h2>
                    <p>{{categorie.description}}</p>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
